-- Create application database user (used by Django)
DO $$
BEGIN
    IF NOT EXISTS (SELECT FROM pg_catalog.pg_roles WHERE rolname = '${DJANGO_DB_USER}') THEN
        CREATE ROLE ${DJANGO_DB_USER} WITH LOGIN PASSWORD '${DJANGO_DB_PASSWORD}';
    END IF;
END
$$;

-- Create developer user (for direct DB access)
DO $$
BEGIN
    IF NOT EXISTS (SELECT FROM pg_catalog.pg_roles WHERE rolname = '${DEV_DB_USER}') THEN
        CREATE ROLE ${DEV_DB_USER} WITH LOGIN PASSWORD '${DEV_DB_PASSWORD}';
    END IF;
END
$$;

-- Grant privileges
GRANT ALL PRIVILEGES ON DATABASE ${POSTGRES_DB} TO ${DJANGO_DB_USER};
GRANT ALL PRIVILEGES ON DATABASE ${POSTGRES_DB} TO ${DEV_DB_USER};
